{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <title>Title</title>
</head>
<body>


        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Порожній блок -->
                </div>
                <div class="col-lg-10">
                    <!-- Контент на сторінці -->
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    {% block footer %}

    {% endblock %}
 <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
</body>
</html>